<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Meadowlark Travel</title>    
</head>
<body>
    <header><img src="/img/danca_diferente.png" alt="Meadowlark Travel Logo" /></header>
    {{{body}}}
</body>
</html>
